.dashboard_container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.dashboard_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dashboard_wrapper > div {
  margin-right: 20px;
  margin-bottom: 20px;
}

.dashboard_wrapper > div:nth-child(4n) {
  margin-right: unset;
}