.card_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.card_container p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #212121;
  margin-top: 10px;
}

.card_container p:nth-child(3) {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
}

.card_container div {
  margin-top: 10px;
}

.avatar {
  width: 280px;
  height: 280px;
}

.icone {
  width: 24px;
  height: 24px;
}

.icone:last-child {
  margin-left: 5px;
}