:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: #212121;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
}

input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #424242;
  box-sizing: border-box;
  color: #212121;
}

button {
  width: 100%;
  height: 40px;
  border: 0;
}

button.primary {
  background-color: #212121;
}